
.col-5 img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.col-5{
    margin-top: 100px;
}

.col-7{
    margin-top: 100px;
}

.col-7 p{
    font-size: 26px;
}

.col-7 button{
    width: auto;
    background-color: #407CEF;
    color: white;
    padding: 5px 10px;
    margin: 0px 0 0 3px;

    border: none;
    border-radius:5px ;
    cursor: pointer;
    transition: 0.6s;
}

.col-7 button:hover{
    background-color: white;
    color: #407CEF;
    border: 1px solid #407CEF;
}

.btn{

}


.hr{
    width: 98%;
    margin-top:40px;
    border:3px solid black;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {

    .col-5 img {
        width:200px;
        height: 200px;
    }
}